.content {
  .reset();
  padding-left: 20px;
  padding-right: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid blue;
}

.content__title {

}

.content__intro {

}

.content__form {
  .reset();
}
