.content {
  .reset();
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid blue;
}

.content__title {
  font-family: "PT Sans Bold";
  font-size: 18px;
}

.content__intro {
  line-height: 24px;
}

.content__form {
  .reset();
}
