.content {
  display: flex;
  flex-direction: column;
  .reset();
  padding-top: 23px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: #000000;
}

.content__form {
  .reset();
}


@media (min-width: @tablet-width) {
  .content {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: @desktop-width) {
  .content {
    padding-left: 0;
    padding-right: 0;
  }


}
