.features {
  display: flex;
  flex-direction: column;
  .reset();
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid red;
}

.features__item {
  .reset();
  border: 1px solid orange;
}

@media (min-width: @tablet-width) {
  .features {
    flex-direction: row;
    justify-content: space-between;
    .reset();
  }

  .features__item {
    flex-basis: 256px;
  }
}

@media (min-width: @desktop-width) {
  .features__item {
    flex-basis: 370px;
  }

  .features__item:nth-child(2) {
    flex-grow: 1;
    margin-left: 30px;
    margin-right: 30px;
  }
}
