.main {
  width: 320px;
  .reset();
  .center();
}

.main__banner {
  .reset();
  padding-top: 90px;
  padding-bottom: 85px;
  background-size: cover;
  background-color: #cccccc;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-position: bottom center, center center;
  background-repeat: no-repeat;
}

.main__banner--inner-page {
  padding-top: 52px;
  padding-bottom: 68px;
}

.main__banner-image {
  display: block;
  width: 282px;
  height: 214px;
  .reset();
  .center();
}

.main__banner-image--inner-page {
  width: 230px;
  height: 40px;
}

@media (min-width: @tablet-width) {
  .main {
    width: 768px;
  }

  .main__banner {
    padding-top: 77px;
    padding-bottom: 91px;
    background-size: 702px auto, 1210px auto, cover;
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
    background-position: center bottom, 50% 105%, center center;
    background-repeat: no-repeat;
  }

  .main__banner-image {
    width: 450px;
    height: 360px;
  }

  .main__banner--inner-page {
    padding-top: 98px;
    padding-bottom: 120px;
  }

  .main__banner-image--inner-page {
    width: 460px;
    height: 78px;
  }

  /*.main__content-title {
    padding-top: 70px;
    padding-bottom: 30px;
    font-size: 30px;
  }

  .main__content-intro {
    padding-bottom: 70px;
  }
  */
}

@media (min-width: @desktop-width) {
  .main {
    width: 1200px;
  }

  .main__banner {
    padding-top: 78px;
    padding-bottom: 90px;
  }

  .main__banner--inner-page {
    padding-top: 105px;
    padding-bottom: 120px;
  }
}
