.map {
  position: relative;
  .reset();
  background-color: #cccccc;
  border: 1px solid orange;
}

.map__image {
  display: block;
  width: 316px;
  height: 350px;
  .reset();
}

.map__marker {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  z-index: 1000;
}
