.page-nav {
  position: relative;
  .reset();
  color: #ffffff;
  background-color: #81b3d2;
  border: 1px solid red;
}

.page-nav__toggle {
  position: absolute;
  width: 23px;
  height: 23px;
}

.page-nav__wrapper {
  .reset(); /* временная вставка, для исключения пустого блока */
}

.page-nav__list {
  .reset();
}
