.page-nav {
  position: relative;
  .reset();
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #ffffff;
  background-color: #81b3d2;
  border: 1px solid red;
}

.page-nav__toggle {
  position: absolute;
  width: 23px;
  height: 23px;
}

.page-nav__wrapper {

}

.page-nav__list {
  .reset();
}
