.page-footer {
  display: flex;
  flex-direction: column;
  .reset();
  padding-top: 37px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.page-footer__column {
  .reset();
  margin-bottom: 36px;

  &:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    padding-top: 3px;
  }
}

.page-footer__title {
  display: block;
  font-weight: 700;
  font-size: 21px;
}

.page-footer__list {
  display: flex;
  justify-content: center;
  .reset();
  list-style: none;
}

.page-footer__item {
  .reset();
  margin-right: 5px;
}

.page-footer__item:last-child {
  margin-right: 0;
}

.page-footer__link-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  font-size: 0;
  text-decoration: none;
  background-color: #81b3d2;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;

    svg {
      opacity: 0.3;
    }
  }

  svg {
    fill: #ffffff;
  }
}

.page-footer__title-copyright {
  font-weight: 400;
}

.page-footer__link-copyright {
  height: 35px;
  margin-left: 10px;
  text-decoration: none;

  &:hover svg {
    fill: #81b3d2;
  }

  &:active svg {
    fill: #b2b2b2;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 35px;
  }

  .page-footer__column {
    flex-basis: 256px;
    margin-bottom: 0;
  }

  .page-footer__column:nth-child(1) {
    flex-basis: 196px;
    text-align: left;
  }

  .page-footer__column:last-child {
    flex-basis: 130px;
    margin-left: auto;
    padding-top: 0;
  }

  .page-footer__link-copyright {
    margin-left: auto;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding-left: 0;
    padding-right: 0;
  }

  .page-footer__column {
    flex-basis: 400px;
  }

  .page-footer__column:nth-child(1) {
    flex-basis: 400px;
    text-align: center;
  }

  .page-footer__column:last-child {
    flex-basis: 130px;
    margin-left: auto;
    margin-right: 44px;
  }
}
