.page-nav {
  position: relative;
  width: 100%;
  .reset();
  padding-bottom: 56px;
}

.page-nav__logo {
  position: absolute;
  bottom: -27px;
  left: 50%;
  z-index: 1000;
  height: 83px;
  .reset();
  text-align: center;
  transform: translateX(-50%);
}

.page-nav__logo-image {
  width: 102px;
  height: 83px;
}

.page-nav__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 23px;
  cursor: pointer;
  border: none;
  background-color: transparent;

  &:hover,
  &:active {
    background-color: transparent;
  }
}

.page-nav--closed .page-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2;
}

.page-nav--closed .page-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}

.page-nav--opened .page-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 25px;
    height: 4px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    //background-color: rgba(255, 255, 255, 0.3);
  }
}

.page-nav__list {
  .reset();
}

@media (max-width: @mobile-width-only) {
  .page-nav--closed .site-list__item {
    display: none;
  }

  .page-nav--nojs .page-nav__toggle {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .page-nav {
    padding-bottom: 0;
  }

  .page-nav__logo-image {
    top: 0;
  }

  .page-nav__toggle {
    display: none;
  }
}
