.reasons {
  display: flex;
  flex-direction: column;
  .reset();
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.reasons__header {
  .reset();
  .center();
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 33px;
}

.reasons__slogan {
  .reset();
  .center();
  font-size: 18px;
}

.reasons__intro {
  display: flex;
  .reset();
  .center();
}

.reasons__wrapper {
  display: flex;
  flex-direction: column;
  .reset();/* временная вставка, для исключения пустого блока */
  border: 1px solid red;
}

.reasons__item {
  width: auto;
  .reset();
  color: #ffffff;
  background-color: #81b3d2;
  border: 1px solid #000000;
}

.reasons__item:first-child {
  background-size: 380px auto;
  background-image: url("../img/bg-triangle.svg");
  background-position: center top;
  background-repeat: no-repeat;
}

.reasons__item-title {
  display: block;
  .reset();
  padding-top: 66px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
}

.reasons__item-namber {
  display: block;
}

.reasons__item-text {
  .reset();
  padding-left: 20px;
  padding-right: 20px;
}

.reasons__item-image {
  display: block;
  height: 260px;
  .reset();
  .center();
}

@media (min-width: @tablet-width) {
  .reasons__item:first-child {
    background-image: none;
  }

  .reasons__header {
    width: 540px;
  }

  .reasons__slogan {
    width: 460px;
    font-size: 21px;
  }

  .reasons__item {
    display: flex;
    height: 255px;
    .reset();
  }

  .reasons__item:nth-child(3) {
    flex-direction: row-reverse;
  }

  .reasons__item-wrapper {
    width: 256px;
  }

  .reasons__item-title {
    padding-top: 0;
  }

  .reasons__item-image {
    flex-grow: 1;
  }
}

@media (min-width: @desktop-width) {
  .reasons__header {
    width: 800px;
  }

  .reasons__item {
    height: 258px;
  }

  .reasons__item-wrapper {
    width: 400px;
  }
}
