.video {
  width: 100%;
  .reset();
  padding-top: 36px;
}

.video__title {
  display: block;
  .reset();
  margin-bottom: 34px;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 700;
  font-size: 18px;
}

.video__intro {
  .reset();
  margin-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 24px;
  color: #333333;
}

.video__content {
  width: 100%;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  background-size: cover;
  background-image: url("../img/video-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
  .video__content {
    background-image: url("../img/video-mobile@2x.jpg");
  }
}

@media (min-width: @tablet-width) {
  .video {
    padding-top: 65px;
  }

  .video__title,
  .video__intro {
    width: 500px;
  }

  .video__title {
    .center();
    margin-bottom: 23px;
    font-size: 30px;
  }

  .video__intro {
    .center();
    margin-bottom: 75px;
  }

  .video__content {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    background-image: url("../img/video-tablet@1x.jpg");
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .video__content {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }
}

@media (min-width: @desktop-width) {
  .video {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
  }

  .video__title {
    margin-bottom: 30px;
  }

  .video__content {
    background-image: url("../img/video-desktop@1x.jpg");
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .video__content {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }
}
